---
layout: home
title: Giovanni Home Page
---
<h1 class="content-subhead">Technical inconsistencies</h1>
Hi, I'm Giovanni, a data whisperer at <a href="http://www.godatadriven.com">GoDataDriven</a>.
There I perform analysis on (big) data and build (data driven) models.
Occasionally we build <a href="http://divolte.io">awesome products</a>.
In this page you can find my <a href="http://blog.lanzani.nl">blog</a> and my
<a href="cv.html">Curriculum Vit&aelig;</a>.
