---
layout: default
---
<div class="post">
    <h2 class="post-title">{{ page.year }}</h2>
    <p class="lead">Posts from the year {{ page.year }}</p>
    {% for m in (1..12) reversed %}
        {% if page.collated_posts[page.year][m] %}
            <h3>{{ m | date_to_month }}</h3>
            {% for d in (1..31) reversed %}
                {% if page.collated_posts[page.year][m][d] %}
                    {% for p in page.collated_posts[page.year][m][d] reversed %}
                        <div>
                            <strong>{{ p.date | date: "%d" }}</strong>
                            <a href='{{ p.url }}'>{{ p.title }}</a>({{ p.layout}})
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
