<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!--[if lte IE 8]>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">

<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
<!--<![endif]-->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/layouts/blog-old-ie.css">
        <link rel="stylesheet" href="/css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <!--<link rel="stylesheet" href="/css/layouts/blog.css">-->
        <link rel="stylesheet" href="/css/layouts/side-menu.css">
    <!--<![endif]-->

    <meta name="author" content="Giovanni Lanzani" />

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <link
    href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic"
    rel="stylesheet" type="text/css"/>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'/>
    <link href='/css/bigfoot-default.css' rel='stylesheet' type='text/css'/>
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bigfoot.min.js"></script>
    <script type="text/javascript">
        $.bigfoot();
    </script>
  </head>

  <body>

    <div id="layout" class>
      <!-- Menu toggle -->
      <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
      </a>

      <div id="menu" class>
        <div class="pure-menu pure-menu-open">
          <a class="pure-menu-heading" href="/">Lanzani.nl</a>
            <ul>
              <li><a href="http://duckduckgo.com/?q=site%3Alanzani.nl">search</a></li>
              <li class="blog-active"><a href="http://blog.lanzani.nl">blog</a></li>
              <li class="cv-active"><a href="http://www.lanzani.nl/cv.html">cv</a></li>
              <li class="pub-active"><a href="http://www.lanzani.nl/pub.html">publications</a></li>
            </ul>
        </div>
      </div>

      <div id="main">
        <div class="content">
          <div>
          <!-- A wrapper for all the blog posts -->
              {{ content }}
          </div>
        </div>
        <div class="footer">
          <div class="pure-menu pure-menu-horizontal pure-menu-open">
            <ul>
                <li><a href="mailto:giovanni at this domain?subject=feedback">Contact me</a></li>
                <li><a href="http://twitter.com/gglanzani/">Twitter</a></li>
                <li><a href="http://github.com/gglanzani/pure/">GitHub</a></li>
                <li><a href="http://pinboard.in/u:gglanzani">Pinboard</a></li>
                <li><a href="https://www.flickr.com/photos/gglanzani/">Flickr</a></li>
                <li><a href="http://nl.linkedin.com/pub/giovanni-lanzani/24/618/195">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <script src="/js/ui.js"></script>
  </body>
</html>
