---
layout: default
---
<div class="posts">
  <section class="post">
    <header class="post-header">
      <h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>

      <p class="post-meta">
          Posted on <a href="#" class="post-author">{{ page.date | date_to_string }}</a>
      </p>
    </header>

    <div class="post-description">
      {{ content }}
    </div>
    <div>
      <script>
      $( ".blog-active" ).addClass( "menu-item-divided pure-menu-selected" );
      $( ".blog-active" ).removeClass( "blog-active" );
      </script>
    </div>
  </section>
</div>
